.Controls {
    overflow: visible;
    clear: both;
    width: 132px;
    min-width: 132px;
    margin-right: 30px;
    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: visible;
        button {
            background: transparent;
            border: 0;
            &:hover,
            &:focus {
                opacity: 0.8;
                outline: 0;
            }
        }
    }
    &__toggle {
        position: relative;
        &.loading::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            border: 4px solid #fff;
            border-top: 4px solid $primary-color;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            animation: roll 1s linear infinite;
            margin-left: 1rem;
            float: left;
            transform: translate(-50%, -50%);
            margin: 0;
        }
        @keyframes roll {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }
}