.Playlist {
    &__image {
        width: 40px;
        height: 40px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        margin-right: 15px;
        position: relative;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    }
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 20px;
        width: 100%;
        border: 0;
        cursor: pointer;
        background: #fff;
        text-align: left;
        &.active {
            background: $primary-color;
            & .Playlist__info h3,
            & .Playlist__info h4 {
                color: #fff;
            }
        }
        &:hover {
            background: lighten($primary-color, 5%);
            & .Playlist__info h3,
            & .Playlist__info h4 {
                color: #fff;
            }
        }
    }
    &__info {
        h3 {
            font-size: 12px;
            color: $secondary-color;
            margin: 0;
            margin-bottom: 0.25em;
        }
        h4 {
            font-size: 10px;
            color: lighten($secondary-color, 20%);
            text-transform: uppercase;
            margin: 0;
        }
    }
}