.Playlist {
  &__image {
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 20px;
    margin-right: 15px;
    position: relative;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);


  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

  }



  &__item {

    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    border: 0;
    cursor: pointer;
    background: #FFF;
    text-align: left;
   
    &.active
      {
      background: #472F91;

      & .Playlist__info h3,
      & .Playlist__info h4 {
        color: #fff;

      }
    }

    &:hover
    {
    background: rgba(71, 47, 145, 0.85);

    & .Playlist__info h3,
    & .Playlist__info h4 {
      color: #fff;

    }
  }
  }

  &__info {
    h3 {
      font-size: 12px;
      color: #989898;
      margin: 0;

    }

    h4 {
      font-size: 10px;
      color: #c9c9c9;
      text-transform: uppercase;
      margin: 0;
    }
  }
}