.Search {
    background: lighten($primary-color, 72%);
    padding: 30px;
    &__input {
        background: #fff;
        border: 0;
        border-radius: 3px;
        padding: 0.5rem;
        margin-right: 0.5rem;
        border: 1px solid lighten($primary-color, 20%);
    }
    &__form {
        display: flex;
    }
    &__bt {
        position: relative;
        background: $primary-color;
        border: 0;
        border-radius: 3px;
        padding: 0.5rem 1rem;
        color: #fff;
        transition: background-color 0.2s;
        &:focus,
        &:hover {
            background: lighten($primary-color, 10%);
        }
    }
    &__loading {
        content: "";
        position: relative;
        display: block;
        border: 4px solid #fff;
        border-top: 4px solid $primary-color;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        animation: spin 1s linear infinite;
        margin-left: 1rem;
        float: left;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}