.Controls {
  overflow: hidden;
  clear: both;
  width: 132px;
  min-width: 132px;
  margin-right: 30px;


  &__buttons {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
      background: transparent;
      border: 0;
      &:hover {
        opacity: 0.8;
      }
    }
  }


}