@font-face {
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Regular"),
    url("./../fonts/SFUIText-Regular.woff") format("woff");
}
body {
  margin: 0;
  font-family: "SF UI Text Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
