.Player {
  overflow: hidden;
  padding: 30px;
  background-color: rgba(71, 47, 145, 0.15);
}
.Player__header {
  overflow: visible;
  height: 162px;
}
.Player__image-wrapper {
  float: left;
  width: 132px;
  height: 132px;
  overflow: visible;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.1);
}
.Player__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  border-radius: 4px;
  transition: background-image 0.4s;
}
.Player__image-shadow {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  bottom: -15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  border-radius: 4px;
  filter: blur(20px);
  opacity: 0.5;
  transition: background-image 0.4s;
}
.Player__info {
  padding: 0;
  float: left;
  text-align: left;
  color: #472f91;
  max-width: calc(100% - 165px);
}
.Player__info h1 {
  font-size: 20px;
}
@media (max-width: 768px) {
  .Player__info h1 {
    font-size: 18px;
  }
}
.Player__info h2 {
  font-size: 12px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .Player__info h2 {
    font-size: 10px;
  }
}
.Player__controls {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  min-width: 100%;
}
