.ProgressBar {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__bar-wrapper {
        display: flex;
        width: 100%;
        height: 30px;
        align-items: center;
        cursor: pointer;
        overflow: visible;
        margin: 0 10px;
    }
    &__bar {
        width: 100%;
        height: 3px;
        background: rgba(71, 47, 145, 0.25);
        overflow: visible;
        pointer-events: none;
    }
    &__progress {
        background: #472f91;
        height: 3px;
        transition: 0.1s width;
        position: relative;
        pointer-events: none;
        overflow: visible;
        &::after {
            display: block;
            content: "";
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            background: #26107b;
            width: 7px;
            height: 7px;
            border-radius: 50%;
        }
    }
    &__time {
        width: 40px;
        text-align: left;
        font-size: 12px;
        color: #472f91;
        overflow: visible;
    }
    &__full-time {
        width: 40px;
        text-align: right;
        font-size: 12px;
        color: #472f91;
        overflow: visible;
    }
}